*{
    box-sizing: border-box;
    margin: 0;
}

.display{
    padding:10px;
    width: 380px;
    border-radius: 10px;
}

.sec-container{

    box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.205);
    background-color: #292929f6;
    width: 390px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;  
    border-radius: 10px;
    padding: 10px;
}


.Main-Container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.display input{
    padding: 25px;
    width: 360px;
    height: 90px;
    border: 1.2px solid ,rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #747474f6;
    font-size:35px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.Buttons{
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}
.group0{
    display: grid;
    grid-template-columns:160px 90px 90px;
    gap:10px;
}

.group0 button{
    padding : 15px;
    border: 1.2px solid ,rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border-radius: 10px;
    font-weight: 600;
    background-color: transparent;
}
.group1 ,.group2 ,.group3{
    display: grid;
    grid-template-columns:83px 83px 83px 83px;
    gap:10px;
}
.group1 button , .group2 button ,.group3 button , .group4 button{
    padding : 15px;
    border: 1.2px solid ,rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    background-color: #222222f6;
    box-shadow: 0px 2px 2px rgba(34, 34, 34, 0.295);
}
.group1 button:hover ,.group2 button:hover ,.group3 button:hover , .group4 button:hover{
    background-color: hsla(0, 0%, 89%, 0.048);
}
button:hover{

    animation:onpress 0.25s ease-in-out;
}

@keyframes onpress {
    50% {transform: translateY(-2px ,4px);}
    50% {transform: scale(0.8)}
}
.group4{
    display: grid;
    grid-template-columns:270px 83px;
    gap:10px;
}
.group0 .operators1 {
    background-color: rgba(255, 27, 27, 0.89);
}
.group0 .operators {
    background-color: #f88d00;
}
.group1 .operators2 ,
.group2 .operators2 ,
.group3 .operators2 ,
.group4 .operators2 ,
.group0 .operators2{
    background-color: #ff9900;
}
.Headername{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.61);
}